<div id="mySidebar" class="sidebar">
    <div class="company-parent">
        <a class="sidebar-option">
            <span class="icon-text" style="font-size: 14px; color: #023e8a;">Github Users</span>
        </a>
        <div class="company-parent-options">
            <a class="sidebar-option" routerLink="/search">
                <i class="build-color font-icon-style far fa-building"></i>
                <span class="icon-text">Search User</span>
            </a>
            <a class="sidebar-option" routerLink="/history">
                <i class="build-color font-icon-style far fa-edit"></i>
                <span class="icon-text">Search History</span>
            </a>
        </div>
    </div>
</div>