.outer-container {
    display: flex;
    border-style: solid;
    border-width: 1px;
    border-color: #6c757d;
    margin: 5px;
    box-shadow: -1px 1px 4px #727171;
}

.panel {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.value-element {
    margin-top: 15px;
    margin-left: 15px;
}

.vl {
    border-left: 2px solid #adb5bd;
    margin-top: 7px;
    margin-bottom: 7px;
  }

.last-value {
    margin-bottom: 15px;
}

.main-element {
    align-self: center;
}

.part-container {
    display: flex;
    margin: 5px;
    flex-grow: 1; 
    flex-direction: column; 
    justify-content: center;
}

a {
    color: blue!important;
}